{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="container text-center mt-3 logout-page">
    <h2 class="mb-4">Sign Out</h2>
    <p class="text-muted mb-4">Are you sure you want to sign out?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-dark w-30 py-2 mt-2" type="submit">{% trans 'Sign Out' %}</button>
    </form>
</div>
{% endblock %}  