{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}Reserve a Table{% endblock %}
{% block content %}

<div>
  <h2 class="mb-4 text-center">Reserve a Table</h2>

  <div class="reservation-form mx-auto" style="max-width: 600px;">

    <!-- Display form-level (non-field) errors, e.g. booking in the past -->
    {% if form.non_field_errors %}
      <div class="alert alert-danger text-center">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" action="{% url 'reserve' %}" class="mx-auto" style="max-width: 500px;">
      {% csrf_token %}

      <!-- Guest Details -->
       <h5 class="mb-3 fw-semibold border-bottom pb-2">Guest Details</h5>
       <div class="mb-3">
        <label for="id_guest_name" class="form-label">Full Name</label>
        {% if form.guest_name.errors %}
        {{ form.guest_name|add_class:"form-control is-invalid" }}
        <div class="invalid-feedback">{{ form.guest_name.errors.0 }}</div>
        {% else %}
        {{ form.guest_name|add_class:"form-control" }}
        {% endif %}
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="id_guest_email" class="form-label">Email</label>
            {% if form.guest_email.errors %}
            {{ form.guest_email|add_class:"form-control is-invalid" }}
            <div class="invalid-feedback">{{ form.guest_email.errors.0 }}</div>
            {% else %}
            {{ form.guest_email|add_class:"form-control" }}
            {% endif %}
        </div>
        
        <div class="col-md-6 mb-3">
            <label for="id_guest_phone" class="form-label">Phone</label>
            {% if form.guest_phone.errors %}
            {{ form.guest_phone|add_class:"form-control is-invalid" }}
            <div class="invalid-feedback">{{ form.guest_phone.errors.0 }}</div>
            {% else %}
            {{ form.guest_phone|add_class:"form-control" }}
            {% endif %}
        </div>
    </div>




      <!-- Reservation Date -->
       <h5 class="mb-3 fw-semibold border-bottom pb-2">Reservation Details</h5>

      <div class="mb-3">
        <label for="id_reservation_date" class="form-label">Reservation date</label>
        {% if form.reservation_date.errors %}
          {{ form.reservation_date|add_class:"form-control is-invalid" }}
          <div class="invalid-feedback">
            {{ form.reservation_date.errors.0 }}
          </div>
        {% else %}
          {{ form.reservation_date|add_class:"form-control" }}
        {% endif %}
      </div>

      <!-- Time Slot & Number of Guests -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="id_time_slot" class="form-label">Time slot</label>
          {% if form.time_slot.errors %}
            {{ form.time_slot|add_class:"form-select is-invalid" }}
            <div class="invalid-feedback">
              {{ form.time_slot.errors.0 }}
            </div>
          {% else %}
            {{ form.time_slot|add_class:"form-select" }}
          {% endif %}
        </div>

        <div class="col-md-6 mb-3">
          <label for="id_number_of_guests" class="form-label">Number of guests</label>
          {% if form.number_of_guests.errors %}
            {{ form.number_of_guests|add_class:"form-select is-invalid" }}
            <div class="invalid-feedback">
              {{ form.number_of_guests.errors.0 }}
            </div>
          {% else %}
            {{ form.number_of_guests|add_class:"form-select" }}
          {% endif %}
        </div>
      </div>

      <!-- Allergies -->
       <h5 class="mb-3 fw-semibold border-bottom pb-2">Additional Information</h5>

      <div class="mb-4 text-center">
        <label class="form-label fw-bold mb-3 d-block">Allergies</label>
        <div class="container" style="max-width: 500px;">
          <div class="row row-cols-2">
            {% for allergy in form.allergies.field.queryset %}
              <div class="col text-start mb-2 allergies-list">
                {% with id="id_allergy_"|add:allergy.id|stringformat:"s" %}
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="{{ id }}"
                    name="allergies"
                    value="{{ allergy.id }}"
                    {% if form.data.allergies and allergy.id|stringformat:"s" in form.data.allergies %}
                      checked
                    {% elif form.initial.allergies and allergy.id in form.initial.allergies.all %}
                      checked
                    {% endif %}
                  >
                  <label class="form-check-label" for="{{ id }}">{{ allergy.name }}</label>
                </div>
                {% endwith %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Special Requests -->
      <div class="mb-3 mt-3">
        <label for="id_special_requests" class="form-label">Special requests</label>
        {% if form.special_requests.errors %}
          {{ form.special_requests|add_class:"form-control is-invalid" }}
          <div class="invalid-feedback">
            {{ form.special_requests.errors.0 }}
          </div>
        {% else %}
          {{ form.special_requests|add_class:"form-control" }}
        {% endif %}
      </div>

      <!-- Submit -->
      <button type="submit" class="btn btn-dark w-20 py-2 mt-3 mb-4">Book Now</button>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/make_reservation.js' %}"></script>
{% endblock %}
